h1{
    text-align: center;
}
h2{
    text-align: center;
}
body{
    margin-left: 20px;
}
#body{
    text-align: center
}
button{
    color: white; background-color: black
}

input[type="text"]{
    padding: 3px 30px;
    border: 1px solid grey;
    border-radius: 5px;
    
    }   

p{
    text-align: left;
    padding-left: 100px;
    margin-top: -20px;
}

button{
    padding: 3px 60px;   
}